<p>Dear {{ user.username }}, </p>
<p>
    To reset your password 
    <a href = "{{ url_for('reset_password', token = token, _external = True) }}">
        Click here my scrumptuous child
    </a>
</p>
<p> Alternatively, you can just copy and paste this link here, you luddite</p>
<p> {{url_for('reset_password', token = token, _external = True)}}</p>
<p> If you or a loved one has experienced back pain or existential horror during these
    unprecendented times, you may be qualified for extra toilet paper from your government
</p>
<p>Sincerely</p>
<p> Xi Jing Ping</p>